.star-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: radial-gradient(circle,#0a0a0a,#174053,#081c29,#0f0f0f,black);
   

    overflow: hidden;
    z-index: -10;
  }
.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-image: url(./img/semfundofeminia.png);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 130% 20px; 
z-index: -9;

}

  
  .star {
    position: absolute;
    top: calc(100% * var(--y));
    left: calc(100% * var(--x));
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    animation: star-flicker 2s infinite, star-movement 20s infinite;
  }
  .star-2 {
    position: absolute;
    top: 100%;
    left: calc(100vw * var(--x)); 
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    animation: star-movement-2 50s reverse ease-in-out infinite;
  
    animation-fill-mode: backwards;
  }
  @keyframes star-flicker {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes star-movement {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  
  @keyframes star-movement-2 {
    
    0% {
      top: calc(100% * var(--y));
      left: calc(100vw * var(--x));
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      top: calc(200% * var(--y));
      left: calc(100vw * var(--x));
    }
  }
  